	<div class="form">
		<h3>Welcome to J and R Trading!</h3>
	</div>
	<div class="actions">
		<ul>
			<li><?php echo $this->Html->link(__('Sales', true), array('controller' => 'invoices', 'action' => 'add')); ?> </li>
			<li><?php echo $this->Html->link(__('Inventory', true), array('controller' => 'products', 'action' => 'add')); ?> </li>
		</ul>
	</div>